.resume {
	height: auto;
	width: auto;

}


.portHeading {
	text-align: center;
	text-shadow: 3px 3px #FF0000;
	font-family: 'Wendy One', sans-serif;
	font-size: 40px;
	padding: 20px;
	height: auto;
	
}
hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
    border-color: grey;
}
.personal {
	font-size: 15px;
	font-weight: bold;
}
.edu {
	font-size: 25px;
	font-weight: bold;
}

.cert {
	font-size: 25px;
	font-weight: bold;

}
.birth {
	text-shadow: 1px 1px 1px tan, 3px 3px 5px green;
}
.html, .css, .form-control, .engg, .jcert, .jquery, #Checkbox, .radio{
	font-size: 15px;
}




